
doctype html
html(lang="pl")
    head
        meta(charset="UTF-8")
        title Strona welcome
        //link (rel="stylesheet" href="/style.css")
    body(style="text-align:center;background:green;")

        h1(style="color:red") to jest siec spolecznosciowa
        div
            h2(style="color:blue;") najperw ciebie trzeba stworzyc konto i zalogowac sie
            br
            h2(style="color:white;") potem możesz wybrać jedno z
            div(style="color:yellow;")
                p edytowanie swojego konta w celu dodania więcej informacji
                p dodać innego użytkownika jako przyjaciela
                p komuś napisać messege
                p stworzycz swooja gruppe i dodac do nie przyjacielów
                p stworzyć swój post lub zobaczyć posty innych
                p też możesz komentowacz posty
                p applikacja oraz dozwala na stworzenie eventów
                p też możesz zobaczyć informacje o wszystkich swoich dzialaniach
                p i na koniec możesz wylogować sie